h1 LACHEZ VOUS !! Quelle jeu vous fait tant parler !

form(method="post")
    input(type="game", name="game", placeholder="nom du jeu")
    input(type="description", name="description", placeholder="commentaire")
    button(type="submit") VALIDER