h1 CONNECTE-TOI et viens découvrir les nouveaux avis

form(method="post")
    input(type="email", name="username", placeholder="email")
    input(type="password", name="password", placeholder="password")
    button(type="submit") Log in

    a(href="/inscription") inscription